:root{
    --clr-dark: rgb(255, 68, 68);
}


.box{
    box-sizing: border-box;
    max-width:200px;
    max-height: 200px;
    margin: 50px;
    background-color: lightblue;
    border-width: 10px;
    border-color: black;
    border-style: solid;
    font-size: 3rem;
    padding:100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-dark);
}




#box-1{
    background-color: lightseagreen;
}
#box-2{
    background-color: rgb(132, 121, 237);
}
#box-3{
    background-color: lightgreen;
}
